.content.product
    .content__container
        h2.content__head
            | Product list
        .content__body
            - for (var i = 0; i < 5; i++)
                .badge
                    .badge__container product-item