
.main:before {
    color: #fff;
    content: 'H';
    background-color: #0000ff;
    font-size: 18px;
    padding: 15px;
    display: block;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 100;
}
