

/* ============================ main ============================ */
.main {
    background-color: #fafafa;
    min-height: 100%;
    margin-top: -150px;
    padding-top: 160px;
    margin-bottom: -150px;
    padding-bottom: 160px;
    z-index: 2;
}

