.content
    .content__container
        h2.content__head
            | Product list
        .content__body.product
            - for (var i = 0; i < 7; i++)
                .badge
                    .badge__container product-item