form.form()
    .form__container
        h2.form__head=title
        .form__body.table
            .table__row
                .table__col
                    input.input(type="text" placeholder="Login")
            .table__row
                .table__col
                    input.input(type="password" placeholder="Password")
        .form__foot
            button.btn.btn_success(type="button") Go!