
/* ===================================== footer ===================================== */
.footer {
    color: #333;
    text-align: center;
    min-height: 150px;
    background-color: #222;
    z-index: 3;
}
